<div class="col-md-8 mx-auto jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs And Mongodb!</h1>
  <p class="lead">A simple App to manage Notes developed with Nodejs, Express, Mongodb and Javascript Technologies</p>
  <hr class="my-4">
  <p>Aplicaci칩n con el fin de implementar conocimientos de express, Nodejs, Mongodb y Javascript, para m치s informaci칩n presiona el bot칩n de Contact
  </p>
  <a class="btn btn-primary btn-lg" href="https//www.facebook.com/JuanEstebanPee" role="button">Contact</a>
</div>